################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/homework_2/task-2/code/out/build/x64-Debug
